@model IEnumerable<test21project.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Review" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IndividualRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisputeReview)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IndividualRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisputeReview)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReviewID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReviewID">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>